img{
    align-items: center;
}
/* rules */
#rules {
    background-color: #1b1b1b;
    color: #ffffff;
    padding: 30px 20px;
    text-align: center;
}

.rules-container h2 {
    font-size: 2.5rem;
    color: #0056b3;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: bold;
}

.rules-container h3 {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 5px;
}

.rules-container ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
    text-align: left;
}

.rules-container li {
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.6;
}

/* responsive */

@media (max-width: 768px) {
    #rules {
        padding: 20px 15px;
    }
    .rules-container h2 {
        font-size: 2rem;
    }
    .rules-container h3 {
        font-size: 1.2rem;
    }
    .rules-container ul {
        max-width: 90%; 
    }
    .rules-container li {
        font-size: 0.9rem;
    }
}

/* Medium screens (769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    #rules {
        padding: 25px 20px;
    }

    .rules-container h2 {
        font-size: 2.2rem;
    }

    .rules-container h3 {
        font-size: 1.4rem;
    }

    .rules-container li {
        font-size: 1rem;
    }
}